.page-id-12 {

  .header-content {
    width: auto;
    h1 {
      font-size: 2rem;
    }
  }

  .quote {
    .grid {
      position: relative;
      padding: 2rem 0;
      @include breakpoint($small-medium) {
        padding: 4rem 0;
      }
    }
    .right {
      h1 {
        text-align: left;
        padding-left: 1.25rem;
        padding-top: 0;
        font-size: 1rem;
        color: $text-grey;
      }
    }

    .order-process {
      padding-left: 2rem;
      a {
        text-decoration: underline;
      }
      li {
        font-size: .75rem;
      }
    }

    @include breakpoint($small-medium) {
      .right {
        @include grid-span(8,4);
        h1 {
          text-align: left;
          padding-left: 1.5rem;
          padding-top: 0;
        }
      }

      .left {
        @include grid-span(3,1.5);
        .order-process {
          padding-top: 3.5rem;
          padding-left: 0;
        }
      }
    }
  }
}
