.services-section {
  padding-top: 0;
  @include breakpoint($small-medium) {
    .column:first-of-type {
      @include grid-span(3,1)
    }
    .column:nth-of-type(2) {
      padding-left:1rem;
      @include grid-span(5.25,3.75)
    }
    .column:nth-of-type(3) {
      @include grid-span(2,11)
    }
  }

  h1 {
    font-weight: 600;
  }

  h2 {
    font-size: 1.15rem;
    line-height: 1.25;
  }

  li {
    line-height: 1.45;
    font-size: .8rem;
  }

  ol {
    list-style: circle;
    margin-top: 1.5rem;
  }

  .services {
    position: relative;
  }

  .price {
    padding-top: 1.2rem;
  }
}

.service-section-wrapper {
  border-bottom: 3px solid $grey;
  padding-bottom: 2rem;

  h1 {
    padding-top: 3rem;
    padding-bottom: 0;
  }
}

.to-top {
  display: none;
}

.service-menu {
  background: $light-grey;
  padding: 1rem;
  @include breakpoint($small) {
    background: $dark;
  }

  ul {
    line-height: 1.75;
    @include breakpoint($small) {
      display: inline-block;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  li {
    background: $grey;
    color: $dark;
    padding: .5rem;
    margin: .5rem 0;
    @include breakpoint($small) {
      display: inline-block;
      background: none;
      color: white;
      margin: 0 1rem;
    }
  }
}

.disclaimer {
  max-width: 90%;
  width: 700px;
  margin: 4rem auto 2rem;
}

.to-top {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  background: $highlight;
  color: white !important;
  padding: 1rem;
}
