.about {
  padding: 2rem 1rem;
  @include breakpoint($small) {
    padding: 3rem 1rem;
  }
  h2 {
    color: $highlight;
    font-size: 1.5em;
  }

  h2, p {
    padding-bottom: 1rem;
  }

  p:last-child {
    padding-bottom: 2.5rem;
  }

  .sponsors {
    text-align: center;
    padding: 1rem 0;
  }

  h3 {
    font-weight: 400;
    padding-bottom: 1rem;
  }

  @include breakpoint($small-medium) {
    .grid {
      max-width: 80%;
    }

    .left {
      @include grid-span(7.5,1);
    }

    .right {
      @include grid-span(4,9);
    }

    .sponsors {
      padding-top: 0;
      font-size: .8em;
    }

    img {
      max-width: 100%;
    }
  }
}
