a.button, input.wpcf7-submit, .woocommerce div.product form.cart .button {
  font-size: .9rem;
  @include breakpoint(350px) {
    font-size: 1rem;
  }
  color: white;
  padding: 1rem;
  margin: .25rem 0;
  max-width: 50%;
  background: $highlight;
  font-family: $button-font;
  display: inline-block;
  border-radius: 2px;
  border: 1px solid $highlight;
}

.woocommerce div.product form.cart .button {
  padding: 0 1rem;
  height: 2.5rem;
  margin-top: 0;
  margin-left: 1rem;
}

a.hollow-button {
  background: none;
  border: 1px solid $highlight;
  color: $highlight;
}

.subfooter {
  .hollow-button {
    background: white;
    border: 1px solid white;
  }
}
