#cssmenu > ul > li > a {
  display: inline;
}

#cssmenu ul li.hover,
#cssmenu ul li:hover {
  position: relative;
  z-index: 599;
  cursor: default;
}
#cssmenu ul ul {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 598;
  width: 100%;
  border-top: 2px solid black;
}
#cssmenu ul ul li {
  float: none;
}
#cssmenu ul ul ul {
  top: 0;
  left: 190px;
  width: 190px;
}
#cssmenu ul li:hover > ul {
  visibility: visible;
  opacity: 1;
}
#cssmenu ul ul {
  bottom: 0;
  left: 0;
}
#cssmenu ul ul li {
  font-weight: normal;
}
#cssmenu a {
  display: block;
  line-height: 1em;
  text-decoration: none;
}

#cssmenu {
  ul ul {
    background: white;
    height: auto;
    li {
      display: block;
      width: auto;
      background: white;
      border: none;
      a {
        border-bottom: none !important;
        padding: .65rem;
        &:hover {
          border: none;
          background: $highlight;
          color: $text-light;
        }
      }
    }
    .active {
      color: $text-light;
      background: $highlight;
    }
  }
}

.menu-item-has-children {
  &:after {
    content: "\25BC";
    font-size: .45rem;
    position: relative;
    top: -3px;
  }
}
