form {
  padding: 1rem;

  p {
    padding: 1rem 1rem .5rem;
  }

  .wpcf7-list-item {
    height: 2.5rem;
    display: inline-block;
    margin: 1rem 0;
    width: 50%;
    @include breakpoint($small-medium) {
      width: 33%;
    }
  }

  .wpcf7-list-item-label {
    position: relative;
    top: -13px;
    padding-left: 13px;
  }

  input[type='checkbox'] {
    appearance: none;
    height: 3em;
    width: 3em;
    background: $light-grey;
    position: relative;
    &:focus {
      outline: none;
      border: 5px solid blue;
    }
  }

  input[type='checkbox']:checked {
    background: $highlight;
  }

  input[type='checkbox']:checked:after {
	content: '\00d7';
	font-size: 14px;
	position: absolute;
	top: 50%;
	left: 50%;
  transform: translate(-50%,-50%);
	color: $light-grey;
}

  input[type='text'], input[type='tel'], input[type='email'], select, textarea {
    background: $light-grey;
    border: 1px solid $light-grey;
    padding: 1rem;
    width: 100%;
    box-sizing: border-box;

    @include breakpoint($small-medium) {
      padding: .5rem;
    }

    &:focus {
      outline: none;
      border: 5px solid $highlight;
    }
  }

  input[type='submit'] {
    margin: 2rem 0 1rem;
    font-weight: 300;
    letter-spacing: 1px;
  }

  $space-between-inputs: 1.5rem;
  $space: ($space-between-inputs / 2);

  @include breakpoint($small-medium) {
    input, select {
      height: 2.5rem;
      box-sizing: border-box;
    }

    .side-by-side-inputs-left, .side-by-side-inputs-right {
        width: 50%;
        float: left;
        box-sizing: border-box;
    }

    .side-by-side-inputs-left {
          padding-right: $space;
    }

    .side-by-side-inputs-right {
          padding-left: $space;
    }

    .send-container, .email-container {
      float: left;
      box-sizing: border-box;
    }

    .send-container {
      width: 30%;
      a.button, input.wpcf7-submit {
        max-width: none;
        width: 100%;
        padding: 0;
        font-size: .85rem;
        margin: 0;
      }
    }

    .email-container {
      width: 70%;
      padding-right: ($space * 2);
    }
  }

  .ajax-loader {
    display: block;
    margin: 0 auto;
    margin-left: auto !important;
  }

  div.wpcf7-validation-errors {
    margin: .5rem auto;
  }

  span.wpcf7-not-valid-tip {
    margin-top: .5rem;
  }

  margin-bottom: 3rem;
  @include breakpoint($small-medium) {
    p {
      font-size: .75rem;
      padding: 1rem .5rem .5rem;
    }
  }
}

.page-template-quote {
  .send-container {
    a.button, input.wpcf7-submit {
      max-width: none;
      width: auto;
      padding: 0 1rem;
      font-size: .85rem;
      margin: 2rem 0;
    }
  }
}
