.small-logo-container {
  img {
    padding: 1rem 0 0;
    margin: 0 auto;
    display: block;
  }

  p {
    margin: 1.1em 0;
    text-align: center;
    font-size: .75em;
  }
}

.mobile-menu-container {
  .small-logo-container {
    p {
      color: $text-light;
      padding-bottom: 1rem;
    }
  }
}


//see navscss for mobile logo
