.page-template-contact {

  .header-content {
    width: 80%;
    h1 {
      font-size: 1.1rem;
      line-height: 1.35;
      white-space: nowrap;
      position:absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
      @include breakpoint($small) {
        font-size: 1.5rem;
      }
      @include breakpoint($small-medium) {
        font-size: 2rem;
      }
    }
  }
}

.contact-info, .order-process {
  h3 {
    font-weight: 400;
  }
  ul {
    color: $text-grey;
    padding: .5em 0 3em;
    li {
      padding: .25em 0;
    }
  }
}

.contact {

  .grid {
    @include clearfix;
    @include breakpoint($small-medium) {
      width: 70%;
      max-width: 800px;
      padding: 4.5rem 0;
    }
  }

  .contact-info {
    text-align: right;
  }

  .grid {
    position: relative;
  }

  @include breakpoint($small-medium) {
    .left {
      @include grid-span(8,1);
    }

    .right {
      @include grid-span(4,9);
      .contact-info {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
      }
    }
  }

}
