.blog {

  .header {
    h1 {
      white-space: nowrap;
    }
  }

  .posts {

    &:first-of-type {
      margin-top: 2.5rem;
    }
    img {
      max-width: 100%;
    }
    @include breakpoint($small) {
      max-width: 80%;
    }

    @include breakpoint($small-medium) {
      padding: 2rem 2.5rem;
    }


  }

  .read-more {
    color: $highlight;
    text-decoration: underline;
    padding: 1rem 0;
    display: block;
  }
}

.user-icon, .author {
  float: left;
}

.time, .author {
  line-height: 31px;
}

.time {
  float: right;
  color: $text-grey;
}

.author {
  color: $highlight;
  padding-left: 1rem;
}

.post-info {
  @include clearfix;
  margin: 1rem 0;
}

.post-image-container {
  text-align: center;
}

.single {
  .post-info {
    margin-top: 1rem;
  }
}

.post-excerpt-container {
  color: $text-dark;

  h2 {
    font-size: 1.5rem;
    padding: 1rem 0;
  }
}

.navigation, .single-navigation {
  a {
    color: $highlight;
  }
}

.navigation {
  padding: 0 1.5rem 1.5rem;
  @include breakpoint($small) {
    max-width: 80%;
  }

  @include breakpoint($small-medium) {
    padding: 1rem 2.5rem 5rem;
  }

}

.single-navigation {
  @include clearfix;
  margin: 1rem 0 2rem;

  a:first-child {
    float: left;
  }
  a:last-child {
    float: right;
  }
}

.recent-posts {
  h2 {
    font-weight: 400;
    font-size: 1.25rem;
    margin-bottom: 1rem;
  }

  li {
    padding: .25rem 0;

  }
}

.single {
  .subfooter {
    display: none;
  }
}

.content {
  p {
    margin-bottom: 3rem;
  }
}

@import 'single';
