.grid {
  width: $desk-max;
  max-width: 100%;
  box-sizing: border-box;
  @include breakpoint($small) {
    max-width: 80%;
  }

  @include breakpoint($small-medium) {
    max-width: 100%;
  }

  margin: 0 auto;
  @include clearfix;
}

.section {
  padding: 1.5rem;
  @include breakpoint($small-medium) {
    padding: 3rem 2.5rem;
  }
  @include breakpoint($medium) {
    padding: 4rem 2.5rem;
  }
}

.row {
  @include clearfix;
}
