//fonts
$menu-font: 'Source Sans Pro', sans-serif;
$menu-font-desk: 'PT Sans Narrow', sans-serif;
$button-font: 'Source Sans Pro', sans-serif;
$main-font: 'Source Sans Pro', sans-serif;

//colours
$text-dark: black;
$text-grey: #9297a4;
$text-light: white;

html {
  font-family: $main-font;
  font-size: 17px;
  font-weight: 300;
  @include breakpoint($medium) {
    font-size: 19px;
  }
}

nav {
  font-family: $menu-font;
}

h1 {
  font-size: 1.3rem;
  padding-bottom: .75rem;
}

p {
  line-height: 1.5;
}

.highlight {
  color: $highlight;
}
