//singularity settings
$grids: 12;
$gutters: 1/3;

//responsive breakpoints for breakpoint
$tab: 50em;
$desk: 70em;

$nav-break: 950px;

//grids
$tab-max: 40em;
$desk-max: 55em;

//breakpoints
$small: 500px;
$small-medium: 750px;
$medium: 900px;

$footer-small: 650px;
$footer-medium: 1000px;

//layout
$logo-space: 100px;
$margin: 20px;

//colours
$highlight: #d60000;
$dark: rgba(17,17,17,1);
$grey: #E4E2E2;
$light-grey: #f6f6f6;

$copyright-background: #2F3135;

//element sizes
$nav-icon-width: 35px;
$menu-item-border-width: 2px;
