.intro {

  @include breakpoint($small-medium) {
    // padding-bottom: 0px;
    // margin-bottom: -3px;
  }

  .left {

    p:nth-of-type(2) {
      padding: 2rem 0 1rem;
      font-size: .9rem;
      @include breakpoint(350px) {
        font-size: 1rem;
      }
    }

    @include breakpoint($small-medium) {
      z-index: 2;
      position: relative;
      @include grid-span(6.5, 1);
    }
  }

  .right {
    display: none;
    height:0;

    @include breakpoint($small-medium) {
      display: block;
      @include grid-span(6,6.5);
      img {
        float: right;
      }
    }
  }
}
