.why-us {
  background: $dark;
  color: $text-light;

  h1 {
    @include breakpoint($small-medium) {
      display: none;
    }
  }

  h1:nth-of-type(2) {
    display: none;
    @include breakpoint($small-medium) {
      display: block;
      @include grid-span(8,4);
    }
  }
}
