.copyright {
  padding: .5rem 1rem;
  color: $text-light;
  font-weight: 200;
  font-size: .95rem;
  text-align: center;
  @include clearfix;
  span {
    display: none;
  }
  p {
    line-height: 1.75;
    @include breakpoint($small) {
      font-size: .75rem;
      br {
        display: none;
      }
      span {
        display: inline-block;
      }
    }
    @include breakpoint($footer-small) {
      @include grid-span(12,1);
    }
  }

  @include breakpoint($footer-small) {
      line-height: 1.3;
      background: $copyright-background;
  }
}
