footer {
  background-color: $dark;
  color: $text-grey;

  h3 {
    text-transform: uppercase;
    color: $text-light;
    letter-spacing: 2px;
  }

  .grid {
    padding: 2rem 1rem;
  }

  .left {
    display: none;

    @include breakpoint($footer-medium) {
      display: block;
      @include grid-span(4,1);
    }


    img {
      margin: 0 auto;
      display: block;
    }
  }

  @include breakpoint($footer-small) {
    .right {
      font-size: .85rem;
      @include grid-span(12,1);
      .column:nth-of-type(1) {
        @include grid-span(5,1);
      }
      .column:nth-of-type(2) {
        ul {
          li {
            width: 100%;
          }
        }
        @include grid-span(4,6);
      }
      .column:nth-of-type(3) {
        @include grid-span(6,10);
      }
    }
  }

  @include breakpoint($small-medium) {
    .right {
      @include grid-span(12,2);
      .column:nth-of-type(1) {
        @include grid-span(4,1);
      }
      .column:nth-of-type(2) {
        @include grid-span(3,5);
      }
      .column:nth-of-type(3) {
        @include grid-span(4,8);
      }
    }
  }

  @include breakpoint($footer-medium) {
    .right {
      @include grid-span(9,5);
      .column:nth-of-type(1) {
        @include grid-span(4,1);
      }
      .column:nth-of-type(2) {
        @include grid-span(3,5);
      }
      .column:nth-of-type(3) {
        @include grid-span(4,8);
      }
    }
  }

  ul {
    padding: 1rem 0 2.5rem;
    @include breakpoint($small-medium) {
      padding: 1rem 0;
    }
    width: 100%;

    @include clearfix;

    li {
      padding: .25rem 0;
      float: left;
      width: 50%;
      img {
        vertical-align: text-top;
        margin-right: 1rem;
      }
    }
  }

  .column:nth-of-type(3) {
    ul {
      li {
        width: 100%;
      }
    }
  }
}
