.woocommerce-page, .single-post {
  header {
    background-color: rgba(255,255,255,.6);
    background-blend-mode: color;
  }
}

.header {//non home pages
  background-position: center;
  min-height: 10rem;
  margin-top: 3rem;

  @include breakpoint($nav-break) {
    margin-top: 0;
  }


  .header-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  h1 {
    color: $text-dark;
    font-size: 3em;
    position: relative;
    display: inline-block;
  }
}

.home {
  header {
    padding-top: 50.5%;
    background-position: 50% -10px;
    min-height: 20rem;

    @include breakpoint($small) {
      min-height: 10rem;
    }

    @include breakpoint($medium) {
      min-height: auto;
    }
  }
}
  header {
    background-size: cover;
    background-repeat: no-repeat;
    @include breakpoint($medium) {
      background-color: rgba(255, 255, 255, 0.31);
      background-color: rgba(251, 251, 251, 0.2);

    }
    width: 100%;
    height: 0;
    position: relative;
    padding-top: 10%;

    #header-inner {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    .home-logo-container {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      // width: 75%;
      margin: 0 auto;


      @include breakpoint($medium) {
        position: absolute;
        left: 15%;
        top: 52%;
        transform: translateY(-50%);
        width: 32%;
      }

      h2 {
        text-align: center;
        margin: .5rem 0;
        white-space: nowrap;
        font-weight: 400;
        @include breakpoint($medium) {
          font-weight: 600;
          // font-size: 1.2rem;
        }
        // color: $text-light;
      }
      .button {
        margin-top: $margin;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
      }
    }

    .logo {
      width: 80%;
      max-width: 270px;
      @include breakpoint($medium) {
        max-width: none;
      }
      display: block;
      margin: 0 auto;
    }
  }
// }

.page-template-about {
  header {
    h1 {
      max-width: 200px;
      @include breakpoint(750px) {
        max-width: none;
      }
    }
  }
}

 .post-type-archive, .woocommerce-account, .woocommerce-cart, .woocommerce-checkout {
  header {
    padding-top: 90px;
    min-height: 0;
  }
}
