.why-us, .services-section {
  hr {
    width: 30px;
    display: inline-block;
    margin-top: 1rem;
    @include breakpoint($medium) {
      margin-top: 0;
    }
  }

  h1 {
    font-size: 1.5rem;
    margin: 1rem 0 .5rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h2 + p {
    font-size: .75rem;
    margin-bottom: 1rem;
  }

  .why-reason {
    margin-bottom: 1rem;
  }

  a {
    margin-bottom: 2rem;
    display: block;
    text-decoration: underline;
    line-height: 1.25;
  }

  @include breakpoint($small-medium) {
    .column:first-of-type {
      @include grid-span(3,1)
    }
    .column:nth-of-type(2) {
      padding-left:1rem;
      @include grid-span(4.25,5)
    }
    .column:nth-of-type(3) {
      @include grid-span(4,9)
    }
  }

  .reasons {
    .column {
      margin: 1rem 0;
    }
  }
}
