.burg-bar {
  z-index: 4;
  position: fixed;
  top: 0;
  width: 100%;
  background: white;
  .logo-text, .mobile-logo, h2 {
    float: left;
  }
  h2 {
    font-size: 1.5rem;
    line-height: 2.9rem;
  }

  @include breakpoint($nav-break) {
    display: none;
  }
}

.mobile-logo {
  padding: .5rem .5rem .5rem 1rem;
  height: 2rem;
}

.burg {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 1rem;
  width: 2rem;
}

.mobile-menu-container {
  z-index: 4;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;

  .menu {

    .menu-item {
      padding: .75rem;
    }

    .current-menu-item {
        color: $text-light;
        background: $highlight;
    }

  }
}

.mobile-menu {
  position: absolute;
  right: -100%;
  display: inline-block;
  float: right;
  height: 100%;
  min-width: 230px;
  background: white;
  transition: all .5s;
}

.mobile-menu-header {
  background: $dark;
}

.show-menu {
  right: 0 !important;
}
