#primary-navigation {

  display: none;
  @include breakpoint($nav-break) {
    display: block;
  }

  font-size: .85rem;
  font-family: $menu-font-desk;
  font-weight: 400;
  color: $text-dark;
  padding-top: 20px;
  text-align: center;
  text-transform: uppercase;

  ul {
    white-space: nowrap;
    margin-top: 0;
    width: 100%;
    max-width: 600px;
  }

  li {
    display: inline-block;
    border-bottom: $menu-item-border-width solid rgba(0,0,0,0);
    width: 33%;

    a {
      padding: 3px 5px;
    }
  }

  .current_page_item a {
    border-bottom: $menu-item-border-width solid $text-dark;
  }
}

.primary-nav-inner {
  max-width: 95%;
  margin: 0 auto;
  display: block;
}

.menu-left-menu-container, .menu-right-menu-container, .menu-logo {
  display: inline-block;
  vertical-align: middle;
}

.menu-left-menu-container, .menu-right-menu-container {
  width: 38%;
}

.menu-logo {
  &:hover {
    border-bottom: none !important;
  }
  width: 20%;
  img {
    width: 100%;
    max-width: $nav-icon-width;
  }
}

.menu-left-menu-container {
  ul {
    text-align: right;
  }
  ul, li {
    float: right;
  }
}

.menu-right-menu-container {
  ul {
    text-align: left;
  }
  ul, li {
    float: left;
  }
}

.nav-menu {
  width: auto;
}
