.subfooter {
  padding: 5rem 1rem !important;
  background-size: cover;
  position: relative;
  @include breakpoint($small-medium) {
    padding: 12rem 1rem 10rem !important;
    text-align: center;
  }

  h2 {
    font-size: 1.5rem;
    line-height: 1.3;
    color: $text-light;
  }
  .button {
    margin-top: 1rem;
  }

  .grid {
    position:relative;
    z-index:2;
  }

  .grad {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom,  $dark 1%,rgba(255,255,255,0) 100%);
  }
}

.woocommerce, .woocommerce-account, .woocommerce-cart, .woocommerce-checkout {
  .subfooter {
    display: none;
  }
}
