.woocommerce-page {
  .woocommerce {
    a, a:visited, a:active, a:link {
      text-decoration: underline;
      color: $highlight;
    }

    a.button, a.button:visited, a.button:active, a.button:link, .remove {
      text-decoration: none;
      color: #515151;
    }

    a.checkout-button, a.checkout-button:visited, a.checkout-button:active, a.checkout-button:link, .remove {
      color: white;
    }
  }
}

.woocommerce {

  h2 {
    margin: 1rem 2rem;
    @include breakpoint($small-medium) {
      margin: 1rem 0;
    }
    font-weight: 500;
  }

  .title {
    height: auto;
    margin-bottom: 1rem;
  }

  address, .myaccount_address, .myaccount_user {
    font-size: .85rem;
    line-height: 1.5;
  }
}

.myaccount_user {
  margin-bottom: 2rem;
  max-width: 500px;

  strong {
    font-weight: 500;
  }
}

.woocommerce-account {
  .woocommerce {
    padding-bottom: 2rem;
  }
}

.woocommerce-cart table.cart td.actions .coupon .input-text {
  border: none;
}

.wc_payment_methods {
    label {
      position: relative;
      top: -15px;
    }
}

.woocommerce-error {
  li {
    font-size: .85rem;
    margin: .5rem;
    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.woocommerce-billing-fields {
  h3 {
    margin-bottom: .25rem;
    font-weight: 400;
  }
}

#order_review_heading {
  margin: 1rem 0;
  font-weight: 400;
}

.woocommerce-shipping-fields {
  h3 {
    label {
      position: relative;
      top: -5px;
      font-weight: 400;
    }
    input {
      height: 1.25rem;
      width: 1.25rem;
      margin-left: 1rem;
    }
    margin-bottom: .25rem;
  }
}


.woo-template {

  .page-title {
    font-size: 1.4rem;
    font-weight: 400;
    color: $highlight;
  }

  .product-menu {
    h2 {
      @include breakpoint($small-medium) {
        font-size: .85rem;
      }
    }
  }

  .menu-item {
    margin: .25rem 0;
    @include breakpoint($small-medium) {
      font-size: .85rem;
    }
  }

  @include breakpoint($small-medium) {
    ul.products {
      li.product {
        h3 {
          font-size: .85rem;
        }
      }
    }
  }

  @include breakpoint($small-medium) {
    .left {
      @include grid-span(2,1);
    }
    .right {
      @include grid-span(10,3);
    }
  }
}

.woocommerce ul.products li.product a img {
    max-width: 100%;
    width: auto;
    max-height: 240px;
}
